<?xml version="1.0" encoding="UTF-8"?>
<config xmlns="http://www.knime.org/2008/09/XMLConfig" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.knime.org/2008/09/XMLConfig http://www.knime.org/XMLConfig_2008_09.xsd" key="settings.xml">
<entry key="node_file" type="xstring" value="settings.xml"/>
<config key="flow_stack"/>
<config key="internal_node_subsettings">
<entry key="memory_policy" type="xstring" value="CacheSmallInMemory"/>
</config>
<config key="model">
<entry key="dbType" type="xstring" value="mysql"/>
<config key="conditions">
<config key="group_1">
<entry key="id" type="xint" value="1"/>
<config key="groupType">
<entry key="id" type="xstring" value="and"/>
<entry key="name" type="xstring" value="AND"/>
</config>
<config key="condition_3">
<entry key="id" type="xint" value="3"/>
<config key="columnSpec">
<entry key="name" type="xstring" value="YEAR"/>
<config key="dataType">
<entry key="cell_class" type="xstring" value="org.knime.core.data.time.localdate.LocalDateCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<config key="possibleValues">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="columnRole" type="xstring" value="ORDINARY"/>
</config>
<config key="operation">
<config key="values">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="1999-01-01"/>
</config>
<config key="operator">
<entry key="id" type="xstring" value="greaterOrEqual"/>
<entry key="name" type="xstring" value="&gt;="/>
</config>
</config>
</config>
<config key="condition_4">
<entry key="id" type="xint" value="4"/>
<config key="columnSpec">
<entry key="name" type="xstring" value="Crime TYPE"/>
<config key="dataType">
<entry key="cell_class" type="xstring" value="org.knime.core.data.def.StringCell"/>
<entry key="is_null" type="xboolean" value="false"/>
</config>
<config key="possibleValues">
<entry key="array-size" type="xint" value="0"/>
</config>
<entry key="columnRole" type="xstring" value="ORDINARY"/>
</config>
<config key="operation">
<config key="values">
<entry key="array-size" type="xint" value="1"/>
<entry key="0" type="xstring" value="Murder or Manslaughter"/>
</config>
<config key="operator">
<entry key="id" type="xstring" value="equal"/>
<entry key="name" type="xstring" value="="/>
</config>
</config>
</config>
</config>
</config>
</config>
<entry key="customDescription" type="xstring" isnull="true" value=""/>
<entry key="state" type="xstring" value="EXECUTED"/>
<entry key="factory" type="xstring" value="org.knime.database.node.manipulation.filter.row.DBFilterRowNodeFactory"/>
<entry key="node-name" type="xstring" value="DB Row Filter"/>
<entry key="node-bundle-name" type="xstring" value="KNIME database nodes"/>
<entry key="node-bundle-symbolic-name" type="xstring" value="org.knime.database.nodes"/>
<entry key="node-bundle-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-bundle-version" type="xstring" value="4.2.0.v202006230916"/>
<entry key="node-feature-name" type="xstring" value="KNIME Database"/>
<entry key="node-feature-symbolic-name" type="xstring" value="org.knime.features.database.feature.group"/>
<entry key="node-feature-vendor" type="xstring" value="KNIME AG, Zurich, Switzerland"/>
<entry key="node-feature-version" type="xstring" value="4.2.1.v202008251536"/>
<config key="factory_settings"/>
<entry key="name" type="xstring" value="DB Row Filter"/>
<entry key="hasContent" type="xboolean" value="true"/>
<entry key="isInactive" type="xboolean" value="false"/>
<config key="ports">
<config key="port_1">
<entry key="index" type="xint" value="1"/>
<entry key="port_spec_class" type="xstring" value="org.knime.database.port.DBDataPortObjectSpec"/>
<entry key="port_object_class" type="xstring" value="org.knime.database.port.DBDataPortObject"/>
<entry key="port_object_summary" type="xstring" value="MySQL 48839236-e1c2-4060-999a-83cb9dbf6234"/>
<entry key="port_spec_location" type="xstring" value="spec/spec.zip"/>
<entry key="port_object_location" type="xstring" value="object/portobject.zip"/>
<entry key="port_dir_location" type="xstring" value="port_1"/>
</config>
</config>
<config key="filestores">
<entry key="file_store_location" type="xstring" isnull="true" value=""/>
<entry key="file_store_id" type="xstring" value="494756ac-a727-4583-9be0-364ae106d7fb"/>
</config>
</config>
